*{
    background-color: #141415;
    scroll-behavior: smooth;

}

body {
    background-color: #141415;
    color: white;
  }
h1, h2, h3{
    color: #D4AF37; 
  }
 
a {
    color: #FFD700;
  }
  
nav {
    display: inline-flex;
    padding: .5rem;
    margin: auto;
    text-align: center;
    background-color: #D4AF37;
  }
  
nav a {
    color: white;
    display: block;
    text-align: center;
    background-color: #D4AF37;
  }

#nv{
    background-color: #D4AF37;
    padding: 1%;
    border-radius: 10px 20px;
    display: flex;
    justify-content: space-around;
}


nav a:hover {
    color: #241f00;
  } 
  
section {
    background: #141415;
  }
  
label input{
    margin: 10px 10px 10px 10px;
}
label select{
    margin: 10px 10px 10px 10px;
}
select{
    min-width: 150px;
    min-height: 25px;
}
input, textarea {
    background-color: #222;
    color: white;
    border-color: #D4AF37;
  }
  
input[type="submit"] {
    display: block;
    text-align: center;
    background: #FFD700;
    color: #141415;
  }
  
input[type="submit"]:hover {
    background: #D4AF37; 
  }

footer{
    text-align: center;
}
footer div a{
    padding: 0 5vw;
}
